<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-12">
      <h1 class="my-4">Blog</h1>
      <div class="card mb-4">
        <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Search for posts"/>
      </div>
      <!-- Blog Post -->
      <div class="card mb-4" *ngFor="let post of filterFunction(post);">
        <img class="card-img-top" src="{{post.image}}" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">{{ post.title }}</h2>
          <p class="card-text">{{ post.body }}</p>
          <!-- <a href="#" class="btn btn-primary">Read More &rarr;</a> -->
        </div>
        <div class="card-footer text-muted">
          Posted on {{post.dateCreated}} by {{post.owner}}
        </div>
        <button *ngIf="role === 'ADMIN'" type="button" (click)="removePost(post.id)" class="btn btn-danger">Remove</button>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->